<nav class="navbar navbar-inverse" style=" background-color: #305B94;">
  <div class="container-fluid">
    <div class="navbar-header" style="background-color: #305999;">
      <button type="button" style="background-color: #305999; border-color: none" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a class="active" routerLink="/whether">whether</a></li>
        <li><a routerLink="/city">city</a></li>
        

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li> <a href="" ng-click="logout()">
          <span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>












  <!-- <div class="topnav">

    <a class="navbar-brand">
      <i class="fab fa-facebook fa-2x" style="margin-top: -5px;"></i></a>
      <a class="active" routerLink="/mywall">mywall</a>
      <a routerLink="/myprofile">myprofile</a>
      <a routerLink="/myconnection">myconnection</a>
      <a routerLink="/chat">chat</a>
      <a routerLink="/post">post</a>
      <a routerLink="/allpost">allpost</a>
      <a routerLink="/search">search</a>
      <a routerLink="/feeds">feeds</a>
      <a href="" ng-click="logout()">Log Out</a>
      <a href="javascript:void(0);" class="icon">
        <i class="fa fa-bars"></i>
      </a>
    </div> -->

